/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2017, 5:50:54 AM
    Author     : Sawmtea
*/

.bar{
    -fx-background-color:#fff;
}

.vbox{
    -fx-background-color:#660000;
}
.side-bar {
     -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );  
}
.top-bar{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


/* root container stylyng begin*/
.root-container{
  -fx-background-color:rgba(255,255,255,0.5);
}
/*root container stylying ends here*/

.fav-icon{
    -fx-background-color: blue;
}
.h1{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size:38px;
    -fx-font-family: "Arial";
}

.container{
    -fx-background-color:lightgray;
}
/*profile menu styling*/

 /*profile menu styling ends here */
 
 /* menu styling*/
.side-menu{  
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill:#fff;
    -fx-padding: 5px;
}
.side-menu .label{
    -fx-text-fill: #fff;
}
.side-menu .arrow{
    -fx-background-color: #fff;
    -fx-text-fill:#fff;
}

.side-menu .pane{
    -fx-background-color: red;
    -fx-padding: 4px;
    -fx-text-fill: #fff;
}
.side-menu:hover{
    -fx-border-style: solid inside;
    -fx-border-color:transparent transparent transparent white;
    -fx-border-width:4px;
    -fx-background-insets: 4;
}
.side-menu:focused{
    -fx-border-color:transparent transparent transparent white;
    -fx-border-width:4px;
        -fx-background-insets: 0,1,2,3;

}

/*end menu styling*/

 /* dashboad menu user menu  customer menu styling*/
 .dashboard-menu{
     /*-fx-background-image:url("../icons/dashboard.png");*/
     -fx-background-repeat:no-repeat;
     -fx-padding:5 5 5 10;
 }
 .user-menu{
     /*-fx-background-image:url("../icons/user.png");*/
     -fx-background-repeat:no-repeat;
     -fx-padding:5 5 5 10;

 }
 .customer-menu{
     /*-fx-background-image:url("../icons/customer.png");*/
     -fx-background-repeat:no-repeat;
     -fx-padding:5 5 5 10;

 }
 /*menu styling end*/
 

 .h3{
     -fx-text-fill:black;
     -fx-font-family:"Helvetica";
     -fx-font-size:18;
 }
 .h4{
     -fx-text-fill:darkgray;
     -fx-font-family:"Helvetica";
     -fx-font-size:14;
     -fx-font-weight:bold;
 }
 /* dialog interface styling*/
 .top-pane{
     -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
 }
 .top-pane .h2{
     -fx-font-size:18px;
     -fx-font-family:"Arial" "Serif";
     -fx-font-weight:700;
 }
 .panel-box{
     -fx-background-color: rgba(0,0,0,0.4); 
     -fx-border-color:#3333ff transparent #3333ff transparent;
     -fx-border-width:5px;
 }
 .panel{
     -fx-width:100px;
     -fx-height:100px;
     -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
 }
 
 /*dialog interface styling end*/
 /*Icon styling goes here*/

.glyph-icon:hover{ -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0); }

/*Button styling*/
.btn-small{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-padding: 2px;
    -fx-text-fill:white;
    -fx-font-size: 10px;
    
    
}
/*.btn-large{
    -fx-width:100px;
     -fx-height:100px;
     -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
 }*/
 